.ui.secondary.menu {
    margin-top: 4em;
    margin-left: 35em;
    position: fixed;
}
.illustration {
        border-style: none;
        max-width: 40%;
        position: fixed;
        bottom: 10px;
        left: 50%;
}
#name {
    position: fixed;
    bottom: 30px;
    left: 75%;
    font-family: 'Amatic SC',cursive;
    letter-spacing: 5px;
    color: rgb(117, 69, 18);
}
.contact {
    background: rgb(117, 69, 18);
    width: 9vw;
    height: 5vw;
    max-width: 40%;
    position: fixed;
    bottom: -10px;
    margin-left: 2%;
    border-radius: 20%;
}

.contact i {
    margin-top: 20%;
    margin-left: 10%;
    color: black;
}

#content {
    position: fixed;
    top: 10em;
    left: 20%;
}

#suggestion {
    position: fixed;
    background: rgb(117, 69, 18);
    width: 15vw;
    height: 4vw;
    top: 40em;
    left: 35%;
    border-radius: 60% 40% 40% 20% / 70% 50% 30% 25%;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);

}

#suggestion i {
    margin-top: 10%;
    margin-left: 20%;
    color: black;
    
}
