body {
    font-family: 'Raleway',
    sans-serif;
    ;
    /* font-weight:bolder */
}
html {
    scroll-behavior: smooth;
}
.navbar-brand {
  margin-left: 50px;
}
.collapse {
   margin-left: 900px;
}
.container{
    margin-top: 80px
}

h4, h3{
    color: #8D8741;
    /* font-weight:bolder */
    
}
.card a {
    margin-bottom: 10px;
}
.blurb {
    margin-top: 40px;
    font-size: 28px;
}
.buttons a {
    margin-right: 20px;
}
.about h2 {
    margin-top: 50px;
}
.card {
    margin-right: 30px;
    margin-bottom: 20px;
}
.card svg:hover {
    /* width: 50%; */
    cursor: pointer;
    
}